html {
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: white;
}

/*navigation bar*/

header {
    position: fixed;
    display: inline-flex;
    width: 100%;
    height: 5rem;
    background-color: navy;
    box-shadow: .125rem .125rem .125rem black;
    z-index: 10;
    top: 0;
    left: 0;
}

.logo {
    width: 40%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
}

.logo h1 {
    margin-left: 1rem;
    text-transform: uppercase;
    color: white;
    visibility: hidden;
}

.navigation {
    width: 70%;
}

.navigation ul {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    margin-right: 12rem;
    width: 100%;
    height: 50%;

}

.navigation li {
    display: flex;
    padding: 0 2rem;
    color: white;
}

#headerbutton {
    align-self: center;
    width: 20%;
    background-color: #f2c300;
    margin-right: .8rem;
    border-radius: .75rem;
    box-shadow: .1rem .1rem .5rem black;
}

#headerbutton p {
    text-align: center;
}

#headerbutton a {
    text-decoration: none;

}

#headerbutton:hover {
    cursor: pointer;
}

#headerbutton:active {
    box-shadow: 0 0 0 black;
}

/*Intro and Banner*/

.mainbody {
    position: relative;
    top: 3rem;
    width: 96%;
    height: 29rem;
    margin: auto 0;
}

.mainbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
    height: 25rem;
}

.imagebox {
    height: 100%;
}

.imagebox img {
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    border-radius: 50%;
    box-shadow: .150rem .150rem .150rem black;
}

/* projects */

.lowbody {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 25rem;
    margin: 1rem 0;
}

.projectitle {
    margin-top: 1rem;
}

.projecttitle h2 {
    text-align: center;
    text-transform: uppercase;
}

.projectboxes {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    width: 100%;
    height: auto;
}

.projects {
    width: 100%;
    margin: 0 1rem;
    border: 1px solid black;
    box-shadow: .0625rem .2rem .0625rem black;
}

.projectdescript h3 {
    text-align: center;
    text-transform: uppercase;
}

.projectdescript a {
  text-decoration: none;
}

.projectimage {
    height: 11.5rem;
    margin: 0 .5rem;
}

.projectimage img {
    max-width: 100%;
    height: auto;
}

.projectdescription p {
    text-align: center;
}

/* footer section */

.lowersection {
    position: relative;
    height: 10rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.footlist {
    padding-left: 0;
    list-style: circle;
}

.footsection ul li:before {
    content: '•';
}

#copyright {
    font-size: .8rem;
}

/* responsive mode */

@media only screen and (max-width: 600px) {

/* Header */

header {
    width: 100%;
    margin: 0 auto;
    height: 4rem;
}

header .logo {
    display: none;
}

.navigation ul {
    padding-left: 10px;
}

.navigation li {
    font-size: .75rem;
    padding: 0 .8rem;
}

#headerbutton {
    align-self: left;
    width: 23%;
    margin-right: 10px;
}

#headerbutton p {
    font-size: .8rem;
}

/* main banner */


.mainbody {
    width: 100%;
    height: 19rem;
    top: 5rem;
}

.mainbox {
    display: block;
    margin: 0 auto;
}

.imagebox {
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
}

.imagebox img {
    display: block;
    margin: auto;
    width: 10rem;
    height: 10rem;
}

.description {
    width: 100%;
}

.description h1 {
    text-align: center;
    font-size: 1rem;
}

/* Project Section */

.lowbody {
    display: block;
    width: 100%;
    height: auto;
    margin: 1rem auto;
}

.projecttitle h2 {
    font-size: .9rem;
}

.projectboxes {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    row-gap: 1rem;
    width: 90%;
    height: auto;
}

.projects {
    width: 100%;
    margin: 0 1rem;
    border: 1px solid black;
    box-shadow: .0625rem .2rem .0625rem black;
}

.projectdescript h3 {
    font-size: .8rem;
}

.projectimage {
    height: auto;
    margin: 0 5px;
}

.projectimage img {
    max-width: 100%;
    height: auto;
}

.projectdescription p {
    font-size: .7rem;
}

/* footer */

footer {
    width: 100%;
}

.lowersection {
    position: relative;
    height: auto;
    display: block;
}

.footsection ul {
    font-size: .9rem;
}


.footsection li {
    font-size: .8rem;

}

#copyright {
    font-size: .7rem;
}

}